[user]
	name = Lucas Carvalho
[branch]
	autosetuprebase = always
[color]
	ui = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[core]
	editor = /usr/local/bin/vim
